:root {

    --fuenteheading: "pt sans", sans-serif;
    --fuenteParrafo: "open sans", sans-serif;

    --primario: #78403c;
    --blanco: #ffffff;
    --negro: #000000;
 --gris: #e2e2e2;

}

html {

    box-sizing: border-box;


}

*,
*::before,
*::after {

    box-sizing: inherit;

}

body {

    font-family: var(--fuenteParrafo);
    font-size: 1.5rem;
    line-height: 2;


}

/*variable globales*/

.contenedor {

    max-width: 60rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteheading);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {

    font-size: 3rem;
    line-height: 1.2;
}

h4 {
    font-size: 2.8rem;
    line-height: 1.2;
}

img {

    max-width: 100%;
}

/* utilidades*/
.no-margin {
    margin: 0 auto;

}

.no-padding {

    padding: 0 auto;
}

.centrar__texto {

    text-align: center;
}



.header {

    background-image: url(../img/banner.jpg);
    height: 60rem;
    background: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header_texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 3rem;
}

@media (min-width : 768px){

    .header_texto{

    margin-top: 15rem;

    }
}

@media (min-width : 768px) {

    .barra {

        display: flex;
        justify-content: space-between;

        align-items: center;
    }

}
.barra{
    padding: 3rem;
}

.logo 
{
color: var(--blanco);
}

.logo__nombre 
{
font-weight: 400;
}

.logo__bold
 {
font-weight: 700;    /*hacer nedrita un texto*/

}

@media (min-width : 768px){
    .navegacion{
display: flex;
gap: 2rem;

    }
    
}

.navegacion__enlace{

    display: block;
    font-size: 1.8rem;
    text-align: center;
    color: var(--blanco);
}
.navegacion__enlacederecha{

    display: flexbox;
    font-size: 1.8rem;
 
    justify-content: end;
    color: var(--blanco);
    margin-left:  30rem;
}

@media (min-width : 768px){
    .contenido-principal{

display: grid;
grid-template-columns: 700px 600px;
gap: 4rem;
    }
    
}

.entrada{

border-bottom: 1rem solid var(--gris);
margin-bottom: 2rem;
}
.entrada:last-of-type{
    border: none;
margin-bottom: 0;
}

.boton{
display: block;
font-family: var(--fuenteheading);
color :var(--blanco);
text-align: center;
padding: 1rem 3rem;
font-size: 1.8rem;
text-transform: uppercase;
font-weight: 700;
margin-bottom: 2rem;


}
@media (min-width : 768px){
    .boton{

        display: inline-block;

    }
}
.boton--primario{

background-color: var(--negro);

}
.boton--secundario{

    background-color: var(--primario);
}
.cursos{

    list-style: none;
}
.widget-curso{

    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-cuso :last-of-type{
border: none;
margin-bottom: 0;
}
.widget-curso__label{
font-family: var(--fuenteheading);
font-weight: bold;
}
.widget-curso__info{

    font-weight: normal;
}
.footer
{
    background-color: #000000;
    
    }
.logo{

    margin-right: 5rem;
}
@media (min-width : 768px){
    
    .sobre-nosotros{

        display: flex;
        gap: 2rem;
    }
    .sobre-nosotros__imagen,
    .sobre-nosotros__texto{

        flex-basis: 50%;    
    }  /*divide en 50% cada elemento del flex*/
.sobre-nosotros__imagen{
    margin-left: 20rem;
}
}
.curso{

    padding: 3rem 0;
    border-bottom: 10px solid var(--gris);
   
}
.curso :last-of-type{

    border: none;
}

@media (min-width : 768px){
    .curso{

        display: grid;
        grid-template-columns: 33.3% 66.7%;
        gap: 2rem;
    }
    
}

