:root {

    --fuenteheading: "pt sans", sans-serif;
    --fuenteParrafo: "open sans", sans-serif;

    --primario: #78403c;
    --blanco: #ffffff;
    --negro: #000000;


}

html {

    box-sizing: border-box;


}

*,
*::before,
*::after {

    box-sizing: inherit;

}

body {

    font-family: var(--fuenteParrafo);
    font-size: 1.5rem;
    line-height: 2;


}

/*variable globales*/

.contenedor {

    max-width: 60rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteheading);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {

    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;

}

img {

    max-width: 100%;
}

/* utilidades*/
.no-margin {
    margin: 0 auto;

}

.no-padding {

    padding: 0 auto;
}

.centrar__texto {

    text-align: center;
}



.header {

    background-image: url(../img/banner.jpg);
    height: 60rem;
    background: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header_texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 3rem;
}

@media (min-width : 768px){

    .header_texto{

    margin-top: 15rem;

    }
}

@media (min-width : 768px) {

    .barra {

        display: flex;
        justify-content: space-between;

        align-items: center;
    }

}

.logo 
{
color: var(--blanco);
}

.logo__nombre 
{
font-weight: 400;
}

.logo__bold
 {
font-weight: 700;    /*hacer nedrita un texto*/

}

@media (min-width : 768px){
    .navegacion{
display: flex;
gap: 2rem;

    }
    
}

.navegacion__enlace{

    display: block;
    font-size: 1.8rem;
    text-align: center;
    color: var(--blanco);
}

